#arch-b1-bg-1-txt3 span {font-size: 36px;} .arch-slaider-3 {max-width: 403px;} .wrap-uch-small img {width: 50%;}
.bb-txt {padding: 44px 62px;} .sm-img h3 {font-size: 22px;} .sm-txt p {font-size: 17px;} .h-cat-img {max-height: 224px;}
.cat-price h2 {font-size: 22px;} .cat-price a {text-align: center; padding: 8px 0;} .cat-price h3 {font-size: 21px;}
.cat-price p {margin-bottom: 0;} .cat-price {padding-bottom: 0;} .article-img img {max-width: 280px;} .contacts-right {flex-direction: row; justify-content: space-between; margin-top: 50px; width: 100%;}
.credits {justify-content: space-around;} .wrap-banner-news {justify-content: center;} .company-sphery {flex-wrap: wrap; justify-content: space-around;}
.contact {margin: auto;} .wrap-company-1 { justify-content: center;} .green-bg-1 {background-position: right;} .green-bg-2 {background-position: right;}
#review-name {width: 330px;} #review-email {width: 280px;} .wrap-promo-2 {justify-content: center;} .btn {margin-bottom: 10px;} .coop-btn .btn{width: 196px;}
.wrap-special-project p {line-height: 1.8;} .wrap-tech-sborka {justify-content: space-around;} .uslugi {justify-content: space-around;}
.farm-img-b1 {flex-wrap: wrap;} .menu a {font-size: 14px;} .menu a:before{height: 12px; right: -7px;}
.wrap-work-b4 {flex-wrap: wrap} .work-b4-txt {width: 100%;} .work-b4-img {width: 100%;} .wrap-b3-img {justify-content: center;}
.our-work-b4.mg-t-3 .text-right {text-align: center!important;} .our-work-b4 .btn {margin: 0 20px;} .our-work-b1 h1 {font-size: 22px;}
.our-work-b1 p {top: 6.5vw; left: 29px; line-height: 1;} .wrap-big-slaid-info .btn {width: 213px;}
.marker-1 {bottom: 169px; left: 95px;} .marker-3 {top: 335px; left: 95px;} .marker-2 {bottom: 0; top: 417px; left: -3px;} .marker-5 {left: 136px;}
.marker-4 {top: 272px; left: 93px;}
.pod-domen {padding: 21px; height: 460px; background-size: contain;} .pod-domen p {font-size: 30px;}
.bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-8, .bg-9 {background-size: contain; height: 230px;} .bg-3 {margin-top: 3px;}
